@import "../../variables.scss";
@import "../../mixins.scss";

.loaders {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 52px 16px;
}

@media screen and (min-width: $tablet) {
  .container {
    padding: 100px 40px 52px 40px;
  }
}

@media screen and (min-width: $desktop-small) {
  //
}

@media screen and (min-width: $desktop-medium) {
  //
}

@media screen and (min-width: $desktop-large) {
  .container {
    padding: 100px 70px 85px 70px;
  }
}

// .main.animated, .electronic.animated {
//   animation-name: switch;
//   animation-duration: 0.4s;
//   animation-timing-function: ease-in;
// }

// @keyframes switch {
//   0% {
//     transform: translateX(100%);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }
