@import "../../mixins.scss";
@import "../../variables.scss";

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 124px;
    
  .managers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-content: center;
    gap: 28px;
  }

}



@media screen and (min-width: $tablet) {
  .container {
    max-width: 516px;
    margin-left: 84px;
    padding-bottom: 74px;

    .managers {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 48px;
    }
  }
}
@media screen and (min-width: $desktop-small) {
  .container {
    max-width: none;
    margin-left: 0;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: $desktop-medium) {
  .container {
    padding-bottom: 104px;
    .managers {
      grid-template-columns: repeat(3, 1fr);
    }
    .header {
      h1 {
        @include H1-d;
      }
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .container {
    padding-bottom: 84px;
  }
}