@import "../../mixins.scss";
@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 180px;
  .header {
    display: flex;
    flex-direction: column;
    gap: 32px;
  
    h1 {
      @include H1-m;
    }
    span {
      @include T1-M-d;
    }
  }
  
  .managers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-content: center;
    gap: 28px;
  }

}



@media screen and (min-width: $tablet) {
  .container {
    max-width: 430px;
    margin: 0 auto;
    padding-bottom: 185px;

    .managers {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 48px;
    }
    .header {
      h1 {
        @include H1-t;
      }
    }
  }
}
@media screen and (min-width: $desktop-small) {
  .container {
    max-width: none;
    padding-bottom: 190px;
  }
}

@media screen and (min-width: $desktop-medium) {
  .container {
    padding-bottom: 137px;
    .managers {
      grid-template-columns: repeat(3, 1fr);
    }
    .header {
      h1 {
        @include H1-d;
      }
    }
  }
}