@import "../../mixins.scss";
@import "../../variables.scss";

.focusText {
  color: $primary-active-btn;
  @include inheritFont;
}
.loaders {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.timeLineTrack {
  left: 4px;
  position: relative;
  height: 600px;
  margin-bottom: 8px;
  width: 2px;
  background-color: white;
  .timeLineDot {
    position: absolute;
    width: 8px;
    height: 8px;
    left: calc(50% - 4px);
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    &:hover {
    background-color: $primary-active-btn;
    }
    &:first-child {
      top:0;
      background-color: $primary-active-btn;
    }
    &:nth-child(2) {
      top:50%;
    }
    &:nth-child(3) {
      bottom: -8px;
    }
  }
  .timeLine {
    height: 0px;
    background-color: $primary-active-btn;
    animation-name: timeLine;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
}

.container {
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 50px;
  
  .infoBlock {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .description {
      @include H2-m;
      p {
        @include inheritFont;
      }
      font-weight: bold;
    }
  }

  .img {
    position: relative;
    left: -16px;
    width: 100vw;
    height: 300px;
    object-fit: cover;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    padding-bottom: 120px;
    flex-direction: row;
    margin: 0 auto;
    .info {
      gap: 50px;
      .description {
        @include H2-d;
        max-width: 484px;
      }
    }
  }
}

@media screen and (min-width: $desktop-medium) {
  .container {
    .info {
      .description {
        max-width: 900px;
      }
    }
  }
}

.info {
  animation-name: switch;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
}

@keyframes switch {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes timeLine {
  0% {
    height: 0;
  }
  33% {
    height: 50%;
  }
  66% {
    height: 100%
  }
  100% {
    height: 100%;
  }
}


