@import "../../variables.scss";
@import "../../mixins.scss";

.subTitle {
  color: $primary-active-btn;
}
.emailTitle {
  color: $secondary-text;
}

.container {
  @include container;
  display: flex;
  flex-direction: column;
  padding: 82px 16px 50px 16px;

  .line {
    position: relative;
    right: 16px;
    width: 50px;
    border: 1px solid $primary-text;
    margin-bottom: 40px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    grid-template-areas:
      "mainInfo"
      "officeImg"
      "additionalInfo"
      "map"
      "feedback";

    .info {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .text {
        p {
          @include H2-m;
          line-height: 220%;
        }
      }
    }
    .mainInfo {
      grid-area: mainInfo;

      h2 {
        @include H2-m;
      }

      .sectionTitle {
        margin-bottom: 40px;
      }
      .addressMain {
        max-width: 358px;
        margin-bottom: 50px;
      }
    }
    .officeImg {
      grid-area: officeImg;
      .img {
        object-fit: cover;
        object-position: center bottom;
      }
    }

    .additionalInfo {
      grid-area: additionalInfo;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .emailBlock {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .email {
          @include H2-m;
        }
      }
    }

    .feedback {
      grid-area: feedback;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .head {
        h2 {
          @include H2-t;
          margin-bottom: 16px;
        }
        p {
          @include T2-d;
          max-width: 480px;
        }
      }

      form {
        @include T3-d;
        display: flex;
        flex-direction: column;
        gap: 16px;
        column-gap: 16px;

        input,
        textarea {
          width: 100%;
          background-color: transparent;
          outline: none;
          border: 1px solid #aeaeae;
          padding: 12px;
          border-radius: 8px;

          &:focus {
            border-color: $primary-text;
          }
        }

        label {
          display: block;
          margin-bottom: 4px;
        }

        .contacts {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .formField {
            input {
              min-width: 283px;
            }
          }
        }

        .feedbackText {
          display: flex;
          flex-direction: column;

          textarea {
            resize: none;
            min-width: 313px;
            height: 100%;
            min-height: 161px;
          }
        }
      }
    }

    .map {
      grid-area: map;
    }

    .officeImg,
    .map {
      display: flex;
      justify-content: center;
      height: 400px;
      .img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .container {
    padding: 100px 40px 76px 40px;
    
    .line {
      right: 40px;
    }
    .content {
      .info {
        .text {
          p {
            @include H2-t;
          }
        }
      }
      .mainInfo {
        .sectionTitle {
          @include H2-d;
          margin-bottom: 80px;
        }
        .addressMain {
          @include H2-t;
          max-width: 480px;
        }
      }

      .additionalInfo {
        .emailBlock {
          .email {
            @include H2-t;
          }
        }
      }
      .feedback {
        form {
          flex-direction: row;
          .contacts {
            .formField {
              min-width: 336px;
            }
          }
          .feedbackText {
            flex: 1;
            textarea {
              min-height: auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-small) {
  .container {
    padding-bottom: 70px;
    .line {
      width: 70px;
    }
    .content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "mainInfo officeImg"
        "additionalInfo map"
        "feedback feedback";
      .officeImg,
      .map {
        justify-content: end;
        .img {
          position: relative;
          left: 40px;
          max-width: 500px;
        }
      }
      .feedback {
        form {
          max-width: 750px;
          .contacts {
            .formField {
              min-width: 366px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-medium) {
  .container {
    .content {
      .info {
        .text {
          p {
            @include H2-d;
          }
        }
      }
      .mainInfo {
        .addressMain {
          @include H2-d;
        }
      }
      .additionalInfo {
        .emailBlock {
          .email {
            @include H2-d;
          }
        }
      }
      .feedback {
        .head {
          h2 {
            @include H2-d;
          }
        }
        form {
          flex-direction: row;
          .feedbackText {
            textarea {
              min-height: auto;
            }
          }
        }
      }
      .officeImg,
      .map {
        .img {
          max-width: 600px;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
    .line {
      right: 70px;
    }
    .content {
    
      .officeImg,
      .map {
        .img {
          max-width: 800px;
          position: relative;
          left: 0;
        }
      }
    }
  }
}
