@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  margin-top: 50px;
  padding-bottom: 60px;

  // .arrows {
  //   display: flex;
  //   justify-content: flex-end;
  //   margin-bottom: 20px;
  // }

  // .activeArrow {
  //   cursor: pointer;

  //   path {
  //     fill: #fff;
  //   }

  //   &:last-child {
  //     margin-left: 24px;
  //   }
  // }

  // .inactiveArrow {
  //   cursor: pointer;

  //   path {
  //     fill: #aeaeae;
  //   }

  //   &:last-child {
  //     margin-left: 24px;
  //   }
  // }

  .videoWrapper {
    @include productionVideo;
    width: 100%;
    height: 250px;
  }

  .content {
    margin-top: 50px;
    padding: 0 16px;

    h2 {
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      margin-bottom: 25px;

      span {
        @include inheritFont;
        color: $primary-active-btn;
      }
    }

    .productsList {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .item {
        display: flex;
        gap: 16px;

        .itemMark {
          margin-top: 11px;
          border-top: 1px solid $primary-active-btn;
          width: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .container {
    margin-top: 75px;

    .playerWrapper {
      padding: 0 40px;
    }

    .videoWrapper {
      height: 400px;
    }

    .content {
      margin-top: 75px;
      padding: 0 40px;
    }
  }
}

@media screen and (min-width: $desktop-small) {
  .container {
    .videoWrapper {
      width: 100%;
      height: 600px;
    }
  }
}

@media screen and (min-width: $desktop-medium) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 25px;

    .playerWrapper {
      padding: 0 40px 0 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0;
      width: 440px;
      padding: 0 0 0 40px;
    }

    .videoWrapper {
      width: 900px;
      height: 600px;
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .container {
    .playerWrapper {
      padding: 0 70px 0 0;
    }

    .content {
      width: 470px;
      padding: 0 0 0 70px;
    }

    .videoWrapper {
      width: 1200px;
      height: 600px;
    }
  }
}
