@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  @include container;
  height: 100%;
  // max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;
  padding-top: 212px;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;

    .intro {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;

      h1 {
        @include H1-m;
        max-width: 254px;
        span {
          font-size: inherit;
          font-family: inherit;
          line-height: inherit;
          text-wrap: nowrap;
        }
      }

      .takeOrder {
        display: inline-flex;
        flex-direction: column;
        align-items: start;
        row-gap: 40px;
        column-gap: 56px;

        .line {
          width: 140px;
          border: 1px solid $primary-active-btn;
        }

        p {
          @include Button-d;
          cursor: pointer;
          color: $primary-active-btn;

          &:hover {
            text-underline-offset: 3px;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 480px) {
  .container {
    .content {
      .intro {
        h1 {
          max-width: 500px;
        }
      }   
    }
  }
}

@media screen and (min-width: $tablet) {
  .container {
    padding: 0 40px;
    padding-top: 215px;

    .content {
      .intro {
        h1 {
          max-width: 649px;
          @include H1-t;
        }

        .takeOrder {
          flex-direction: row;
          align-items: center;
        }

      }   
    }
  }
}

@media screen and (min-width: $desktop-small) {
  .container {
    padding-top: 150px;
    .content {
      .intro {
        margin-bottom: 64px;
        h1 {
          max-width: 890px;
          @include H1-d;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-medium) {
  .container {
    padding-top: 300px;

    .content {
      .intro {
        margin-bottom: 100px;

        h1 {
          max-width: 1080px;
        }
      }
    }
  }
}