@import '../../variables.scss';
@import '../../mixins.scss';

.container {
  @include container;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  margin-top: 52px;
  gap: 80px;

  .subNav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 173px;

    .subNavItem {
      display: flex;
      gap: 24px;
      align-items: center;
      height: 32px;

      svg {
        display: none;
      }

      &.active {
        p {
          color: $primary-active-btn;
        }
        svg {
          display: block;
          rect {
            stroke: $primary-active-btn;
          }
          path {
            fill: $primary-active-btn;
          }
        }
      }

      &:not(.active):hover {
        p {
          color: $primary-text;
          text-decoration: underline;
        }
        svg {
          rect {
            stroke: $primary-text;
          }
          path {
            fill: $primary-text;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .bgImg {
    position: absolute;
    top: 0;
    width: 400px;
    height: 800px;
    object-fit: cover;
    object-position: center bottom;
    right: 0;
    z-index: -1;
  }
}
@media screen and (min-width: $tablet) {
  .container {
    margin-top: 100px;
  }
}
@media screen and (min-width: $desktop-small) {
  .container {
    flex-direction: row;
    gap: 87px;

    .content {
      padding-top: 140px;
    }
  }
}

@media screen and (min-width: $desktop-medium) {
  .container {
    flex-direction: row;

    .bgImg {
      width: 760px;
      height: 824px;
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .container {
    gap: 57px;
    padding: 0 70px 0 70px;

    .bgImg {
      width: 1000px;
      height: 880px;
    }
  }
}