@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 32px 0 0 0;

  .content {
    position: relative;
    padding: 0 16px 56px 16px;
    h1 {
      color: $primary-active-btn;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      position: absolute;
      top: -470px;
      // top: 0;
    }
    h2 {
      @include H2-m;
      margin-bottom: 40px;
    }

    .productsList {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .item {
        display: flex;
        gap: 16px;

        .itemMark {
          margin-top: 11px;
          border-top: 1px solid $primary-active-btn;
          width: 30px;
        }
      }
    }
  }

  .bgImg {
    height: 400px;
    // z-index: -1;

    .videoWrapper {
      @include productionVideo;
      width: 100vw;
      height: 400px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .container {
    // flex-direction: row;
    padding-bottom: 0;

    .content {
      padding-top: 173px;
      padding-bottom: 28px;
      h1 {
        color: $primary-active-btn;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        position: absolute;
        top: -479px;
      }
      h2 {
        position: absolute;
        top: 0;
        width: max-content;
        @include H2-t;
      }
    }

    .bgImg {
      max-width: 100vw;

      .videoWrapper {
        @include productionVideo;
        width: 100vw;
        height: 500px;
      }
    }
  }
}

@media screen and (min-width: $desktop-small) {
  .container {
    flex-direction: row;
    .content {
      padding-top: 173px;
      h1 {
        color: $primary-active-btn;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        position: absolute;
        top: -24px;
        left: -270px;
      }
      h2 {
        right: 140px;
        top: 30px;
        @include H2-d;
      }
    }
    .bgImg {
      // min-width: 30px;
      // height: 100%;

      .videoWrapper {
        @include productionVideo;
        width: 420px;
        height: 600px;
      }
    }
  }
}

@media screen and (min-width: $desktop-medium) {
  .container {
    .content {
      padding-top: 249px;
      h1 {
        color: $primary-active-btn;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        position: absolute;
        top: -29px;
        left: -340px;
      }
      h2 {
        top: 100px;
        right: 210px;
      }
    }
    .bgImg {
      min-width: 760px;
      height: 100%;

      .videoWrapper {
        @include productionVideo;
        width: 760px;
        height: 800px;
      }
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .container {
    .content {
      h1 {
        color: $primary-active-btn;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        position: absolute;
        top: -29px;
        left: -380px;
      }
      h2 {
        right: 250px;
      }
    }
    .bgImg {
      min-width: 1000px;
      height: 100%;

      .videoWrapper {
        @include productionVideo;
        width: 1000px;
        height: 800px;
      }
    }
  }
}
