@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  margin-top: 80px;
  padding-bottom: 60px;

  .line {
    width: 70px;
    height: 1px;
    background-color: #ffffff;
  }

  .mobileTitle {
    color: $primary-active-btn;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin-top: 40px;
    padding: 0 16px;
  }

  .descTitle {
    display: none;
  }

  .videoWrapper {
    margin-top: 50px;
    @include productionVideo;
    width: 100%;
    height: 400px;
  }

  .content {
    padding: 0 16px;
    margin-top: 50px;
  }

  .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
  }

  .productsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;

    .item {
      display: flex;
      gap: 16px;

      .itemMark {
        margin-top: 11px;
        border-top: 1px solid $primary-active-btn;
        width: 30px;
        min-width: 30px;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .container {
    margin-top: 100px;

    .line {
      width: 140px;
    }

    .mobileTitle {
      font-size: 40px;
      line-height: 48px;
      padding: 0 40px;
    }

    .videoWrapper {
      margin-top: 80px;
      height: 500px;
    }

    .content {
      padding: 0 40px;
      margin-top: 80px;
    }

    .text {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media screen and (min-width: $desktop-small) {
  .container {
    .mobileTitle {
      font-size: 48px;
      line-height: 58px;
    }

    .playerWrapper {
      padding: 0 40px;
    }

    .videoWrapper {
      height: 600px;
    }
  }
}

@media screen and (min-width: $desktop-medium) {
  .container {
    margin-top: 200px;

    .mobileTitle {
      display: none;
    }

    .descTitle {
      display: block;
      color: $primary-active-btn;
      font-size: 48px;
      line-height: 58px;
      font-weight: 600;
      margin-bottom: 40px;
    }

    .contentWrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 0 40px;
      margin-top: 45px;
    }

    .playerWrapper {
      padding: 0;
    }

    .videoWrapper {
      margin-top: 0;
      width: 700px;
      height: 600px;
    }

    .content {
      padding: 0;
      margin-top: 0;
      width: 550px;
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .container {
    .contentWrapper {
      padding: 0 70px;
    }

    .videoWrapper {
      margin-top: 0;
      width: 1000px;
      height: 600px;
    }
  }
}
