$primary-text: #FFFFFF;
$primary-bg: #26282E;
// $primary-active-btn: #FF9838; // previous version
$primary-active-btn: #49C5B1;

$secondary-text: #8E8E8E;
$secondary-bg: #AEAEAE;
// $secondary-active-btn: #FF7A00;
$secondary-active-btn: #44b4a1;

//screens
$desktop-large: 1920px;
$desktop-medium: 1440px;
$desktop-small: 1024px;
$tablet: 768px;
$mobile: 390px;

