@import "../../variables.scss";
@import "../../mixins.scss";

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  label,
  input,
  textarea {
    @include T3-d;
  }

  label {
    display: block;
    margin-bottom: 4px;
    color: $primary-bg;
  }

  input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid $secondary-bg;
    color: $secondary-text;
    padding: 12px;
    border-radius: 8px;

    &:focus {
      border-color: $primary-bg;
    }
  }

  textarea {
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    height: 100px;
    resize: none;
    outline: none;
    border: 1px solid $secondary-bg;

    &:focus {
      border-color: $primary-bg;
    }
  }

  .fileInput {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 50px;
    border: 1px solid $primary-active-btn;

    p {
      color: $primary-active-btn;
      font-weight: 600;
      font-size: 14px;
      margin-left: 8px;
    }
  }

  .cells {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
  }

  .submitBtnContainer {
    margin-top: 50px;
  }
}

@media screen and (min-width: $tablet) {
  .form {
    .cells {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
